@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: radial-gradient(
      50% 50% at 50% 0,
      #020b31 0,
      rgba(2, 11, 49, 0) 100%
    ),
    radial-gradient(50% 50% at 0 100%, #2d1b43 0, rgba(2, 11, 49, 0) 100%),
    radial-gradient(100% 100% at 100% 100%, rgba(13, 16, 21, 0) 0, #0d1015 100%);
}

.background-full {
  background: radial-gradient(
      200% 100% at 100% 0,
      #0d1015 31.96%,
      rgba(1, 10, 48, 0) 64.77%
    ),
    radial-gradient(
      200% 100% at 0 100%,
      #0d1015 29.86%,
      rgba(1, 10, 48, 0) 67.84%
    ),
    #020b31;
  position: sticky;
}

.footer-bg {
  background: url('./assets/footer-grid.webp');
  object-fit: cover;
  width: 100%;
  object-position: 100px;
}

.background-land {
  background:
    radial-gradient(50% 50% at 50% 100%, #020b31 0, rgba(2, 11, 49, 0) 100%),
    radial-gradient(
      48.26% 48.26% at 74.97% 0,
      #05e7ff 0,
      rgba(5, 231, 255, 0) 100%
    ),
    radial-gradient(50% 50% at 100% 50%, #6600e8 0, rgba(102, 0, 232, 0) 100%),
    radial-gradient(100% 100% at 100% 0, #020b31 0, rgba(0, 56, 239, 0) 100%),
    radial-gradient(100% 100% at 100% 0, rgba(2, 11, 49, 0) 0, #0d1015 76.39%),
    url('./assets/land.png') #0d1015;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 32px, 100% 100%, 0 1000%);
}

.background-avatar {
  background-image: radial-gradient(
      50% 100% at 110% 0,
      #05e7ff 0,
      rgba(102, 0, 232, 0) 100%
    ),
    radial-gradient(
      50.94% 100% at 83.37% 0,
      #6600e8 0,
      rgba(102, 0, 232, 0) 100%
    );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.drop-shadow {
  filter: drop-shadow(0 0 16px rgb(17, 50, 111));
  z-index: 4;
}

.parallax-bg {
  background: radial-gradient(
      100% 50% at 0 100%,
      #05e7ff 0,
      rgba(5, 231, 255, 0) 100%
    ),
    radial-gradient(100% 100% at 0 100%, #6600e8 0, rgba(102, 0, 232, 0) 100%);
}

.brand-logos {
  filter: drop-shadow(0 0 24px #11326f);
  left: 50%;
  max-height: 50px;
  position: absolute;
  top: 50%;
}

.react-multiple-carousel__arrow {
  background: transparent;
}

/* .react-multiple-carousel__arrow--left {
  padding-right: 4%;
}
.react-multiple-carousel__arrow--rigth {
} */

.react-multiple-carousel__arrow:hover {
  background: transparent;
}

.gradient-right {
  background-image: linear-gradient(
    to right,
    transparent,
    black 64px,
    black calc(100% - 64px),
    transparent
  );
}

.animate-move-image {
  animation: move-image 10s linear infinite;
}

.mask-video {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 64px,
    black calc(100% - 64px),
    transparent
  );
}

.react-multi-carousel-list {
  transition: mask 0.5s ease-in-out;
}

.react-multi-carousel-list:hover .react-multiple-carousel__arrow {
  display: block;
}

.react-multi-carousel-list:hover {
  mask: linear-gradient(
    to right,
    transparent,
    black 64px,
    black calc(100% - 64px),
    transparent
  );
}

.react-multiple-carousel__arrow {
  display: none;
}
